
html, body {
    width: 100%;
    height: 100%;
}

h2 {
    color: whitesmoke;
}

body {
    background-color: #353535;
}

.new-chat-submit {
    align-self: flex-end;
    flex-grow: 0;
    margin-top: 5px;
}

.new-chat-filter-user-list {
    background-color: whitesmoke;
    width: 100%;
    flex-grow: 0;
    margin-bottom: 5px;
}

.new-chat-filter-user {
    cursor: pointer;
}

.new-chat-filter-users {
    display: block;
    background-color: whitesmoke;
    width: 100%;
    flex-grow: 0;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 3px;
}

.new-chat-user {
    display: inline-block;
    margin: 2px;
    padding: 4px;
    border-radius: 2px;
    color: whitesmoke;
    background-color: #353535;
}

#conversation-list {
    /*display: inline-flex;*/
    /*display: flex;*/
    flex-grow: 0;
    align-items: stretch;
    /*align-self: stretch;*/
    width: 270px;
    min-width: 270px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.chat-target-list {
    cursor: pointer;
}



.right-area {
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    flex-direction: column;
    padding-top: 5px;
    width: 100%;
}

#chat-text-area {
    overflow-y: auto;
    overflow-x: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    flex-grow: 1;
    padding: 10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.navbar-custom {
    border-bottom: 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.chat-title {
    color: whitesmoke;
    align-self: flex-start;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.transparent-input {
    display: inline-block;
    border: 0px none;
    background-color: inherit;
    margin: 5px;
    width: auto;
}

.transparent-input:focus {
    border: 0px none;
    background-color: inherit;
    outline-width: 0;
}

.bubble {
    /*position: relative;*/
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: 96%;
    padding: 5px;
    border: 1px solid #9f9f9f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    clear: both;
    -webkit-box-shadow: 1px 1px 2px #888;
    -moz-box-shadow: 1px 1px 2px #888;
    box-shadow: 1px 1px 2px #888;
}

.bubble-left {
    float: left;
    text-align: left;
    color: #09070A;
    background-color: #F9F9F9;
}

.bubble-right {
    float: right;
    text-align: right;
    color: #09070A;
    background-color: #DCF8C7;
}

/*p.bubble:before*/
/*{*/
/*content: ' ';*/
/*position: absolute;*/
/*width: 0;*/
/*height: 0;*/
/*left: 30px;*/
/*top: 100px;*/
/*border: 25px solid;*/
/*border-color: #666 transparent transparent #666;*/
/*}*/

/*p.bubble:after*/
/*{*/
/*content: ' ';*/
/*position: absolute;*/
/*width: 0;*/
/*height: 0;*/
/*left: 38px;*/
/*top: 100px;*/
/*border: 15px solid;*/
/*border-color: #fff transparent transparent #fff;*/
/*}*/