.chat-target-user-list {
    cursor: pointer;
}

.bubble
{
    position: relative;
    width: 500px;
    height: 120px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 22px 0 22px 25px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -22px;
    right: -25px;
    top: 67%;
}